In [4]:
######################################### Cleaning data

import pandas as pd
# Getting data

data = pd.read_csv('sa_police.csv')

In [7]:
# Getting first 5 rows
data.head()

,raw_row_number,date,time,location,lat,lng,district,subject_age,subject_race,subject_sex,type,arrest_made,citation_issued,warning_issued,outcome,contraband_found,search_conducted,search_vehicle,search_basis,reason_for_stop
0,1,2007-01-01,00:11:00,POLK AT OFARRELL,37.784975,-122.419572,E,20.0,asian/pacific islander,male,vehicular,False,False,True,warning,NaN,False,False,NaN,Moving Violation
1,2,2007-01-01,00:23:00,ELLIS AND TAYLOR,37.785091,-122.411166,J,32.0,other/unknown,male,vehicular,False,False,True,warning,NaN,False,False,NaN,MPC Violation
2,3,2007-01-01,00:28:00,101/ARMY,37.774949,-122.419291,D,27.0,hispanic,male,vehicular,False,True,False,citation,NaN,False,False,NaN,Moving Violation
3,4,2007-01-01,00:30:00,CHARLES J BRENNAN ANDMARKET,37.774929,-122.419415,J,23.0,black,male,vehicular,False,True,False,citation,False,True,True,other,Moving Violation
4,5,2007-01-01,00:30:00,EMBARCADERO/BROADWAY,37.799318,-122.397569,E,24.0,hispanic,female,vehicular,False,True,False,citation,NaN,False,False,NaN,Moving Violation

In [11]:
# Checking columns and columns types (ps: O means object, that means string)
[{'column': i, 'type': data[i].dtype} for i in data.columns]

[{'column': 'raw_row_number', 'type': dtype('int64')},
 {'column': 'date', 'type': dtype('O')},
 {'column': 'time', 'type': dtype('O')},
 {'column': 'location', 'type': dtype('O')},
 {'column': 'lat', 'type': dtype('float64')},
 {'column': 'lng', 'type': dtype('float64')},
 {'column': 'district', 'type': dtype('O')},
 {'column': 'subject_age', 'type': dtype('float64')},
 {'column': 'subject_race', 'type': dtype('O')},
 {'column': 'subject_sex', 'type': dtype('O')},
 {'column': 'type', 'type': dtype('O')},
 {'column': 'arrest_made', 'type': dtype('bool')},
 {'column': 'citation_issued', 'type': dtype('bool')},
 {'column': 'warning_issued', 'type': dtype('bool')},
 {'column': 'outcome', 'type': dtype('O')},
 {'column': 'contraband_found', 'type': dtype('O')},
 {'column': 'search_conducted', 'type': dtype('bool')},
 {'column': 'search_vehicle', 'type': dtype('bool')},
 {'column': 'search_basis', 'type': dtype('O')},
 {'column': 'reason_for_stop', 'type': dtype('O')}]

In [13]:
# Couting how much empty lines each column has
data.isnull().sum()

raw_row_number           0
date                     0
time                    35
location                43
lat                   1700
lng                   1700
district             52292
subject_age          59038
subject_race             0
subject_sex              0
type                     0
arrest_made              0
citation_issued          0
warning_issued           0
outcome              15815
contraband_found    854005
search_conducted         0
search_vehicle           0
search_basis        854005
reason_for_stop       2224
dtype: int64

In [15]:
data.head()

,raw_row_number,date,time,location,lat,lng,district,subject_age,subject_race,subject_sex,type,arrest_made,citation_issued,warning_issued,outcome,contraband_found,search_conducted,search_vehicle,search_basis,reason_for_stop
0,1,2007-01-01,00:11:00,POLK AT OFARRELL,37.784975,-122.419572,E,20.0,asian/pacific islander,male,vehicular,False,False,True,warning,NaN,False,False,NaN,Moving Violation
1,2,2007-01-01,00:23:00,ELLIS AND TAYLOR,37.785091,-122.411166,J,32.0,other/unknown,male,vehicular,False,False,True,warning,NaN,False,False,NaN,MPC Violation
2,3,2007-01-01,00:28:00,101/ARMY,37.774949,-122.419291,D,27.0,hispanic,male,vehicular,False,True,False,citation,NaN,False,False,NaN,Moving Violation
3,4,2007-01-01,00:30:00,CHARLES J BRENNAN ANDMARKET,37.774929,-122.419415,J,23.0,black,male,vehicular,False,True,False,citation,False,True,True,other,Moving Violation
4,5,2007-01-01,00:30:00,EMBARCADERO/BROADWAY,37.799318,-122.397569,E,24.0,hispanic,female,vehicular,False,True,False,citation,NaN,False,False,NaN,Moving Violation

In [24]:
# Filliing empty values with 'False'
data['contraband_found'].fillna(False)

# changing type of column data
data['contraband_found'] = data.contraband_found.astype('bool')
data.contraband_found.dtype

dtype('bool')

In [39]:
# Looking for columns to concatenate
data.date.dtype, data.time.dtype

# Creating a series with both columns date and time
combined = data.date.str.cat(data.time, sep=' ')

# Passing to dataframe as a new column
data['date_time'] = pd.to_datetime(combined)

data['date_time'].head()

# Setting a column as dataframe index
data.set_index('date_time', inplace=True)
data.index

DatetimeIndex(['2007-01-01 00:11:00', '2007-01-01 00:23:00',
               '2007-01-01 00:28:00', '2007-01-01 00:30:00',
               '2007-01-01 00:30:00', '2007-01-01 00:38:00',
               '2007-01-01 00:48:00', '2007-01-01 00:50:00',
               '2007-01-01 00:55:00', '2007-01-01 01:16:00',
               ...
               '2014-12-31 23:29:00', '2014-12-31 23:30:00',
               '2014-12-31 23:30:00', '2014-12-31 23:36:00',
               '2014-12-31 23:40:00', '2014-12-31 23:50:00',
               '2014-12-31 23:55:00', '2014-12-31 23:55:00',
               '2014-12-31 23:55:00', '2014-12-31 23:57:00'],
              dtype='datetime64[ns]', name='date_time', length=907761, freq=None)

In [50]:
####################################### Making analysis
print(data.dtypes)

data.reason_for_stop.value_counts()
data.outcome.value_counts()
data.outcome.value_counts(normalize=True)

raw_row_number        int64
date                 object
time                 object
location             object
lat                 float64
lng                 float64
district             object
subject_age         float64
subject_race         object
subject_sex          object
type                 object
arrest_made            bool
citation_issued        bool
warning_issued         bool
outcome              object
contraband_found       bool
search_conducted       bool
search_vehicle         bool
search_basis         object
reason_for_stop      object
dtype: object

citation    0.710254
warning     0.276330
arrest      0.013417
Name: outcome, dtype: float64

In [53]:
data.subject_race.value_counts(normalize=True)

white                     0.411357
asian/pacific islander    0.174244
black                     0.168141
hispanic                  0.128224
other/unknown             0.118033
Name: subject_race, dtype: float64